<!--private int id;-->
<!--private Timestamp depature;-->
<!--private Timestamp arriving;-->
<!--private Race race;-->
<!--private Station station;-->


<div>
    <div class="form-group">
        <label for="">RaceStation ID(name)</label><br />
        <input class="form-control" type="number" ng-model="raceStationIdToCreate" placeholder="Identifier">  <br/><br />

        <label for="">Departure Date</label><br />
        <datetimepicker
                hour-step="hourStep"
                minute-step="minuteStep" ng-model="departure" show-meridian="showMeridian"
                date-format="{{format}}" date-options="dateOptions"
                date-disabled="disabled(date, mode)"
                datepicker-append-to-body="false"
                readonly-date="false"
                hidden-time="false"
                hidden-date="false"
                name="datetimepicker"
                show-spinners="true"
                readonly-time="false"
                >
            <!-- Use date-ng-click="open($event, opened)" to override date ng-click -->
        </datetimepicker>


        <label for="">Arriving Date</label><br/>
        <datetimepicker
                hour-step="hourStep"
                minute-step="minuteStep" ng-model="arriving" show-meridian="showMeridian"
                date-format="{{format}}" date-options="dateOptions"
                date-disabled="disabled(date, mode)"
                datepicker-append-to-body="false"
                readonly-date="false"
                hidden-time="false"
                hidden-date="false"
                name="datetimepicker"
                show-spinners="true"
                readonly-time="false"
                >
            <!-- Use date-ng-click="open($event, opened)" to override date ng-click -->
        </datetimepicker>
        <br />

        <label for="">Race</label><br />
        <select name="race" id="race" ng-model="raceIdToCreate" ng-init="races[0]">
            <option ng-repeat="race in races" value="{{race.id}}">{{race.id}}</option>
        </select> <br /><br />

        <label for="">Station</label>
        <select name="station" id="station" ng-model="stationIdToCreate" ng-init="stations[0]">
            <option ng-repeat="station in stations" value="{{station.id}}">{{station.name}}</option>
        </select> <br />

        <button type="submit" class="btn btn-default btn-pop" ng-click="register()">Create</button>
    </div>

    <div class="error_block">
        <p>ERROR list:</p>
        <ul ng-repeat="error in errors">
            <li class="validationError">
                {{error}}
            </li>
        </ul>
    </div>

    <table class="table table-bordered table-striped popup">
        <thead>
                <tr>
                    <th>RaceStation ID(name)</th>
                    <th>Departure</th>
                    <th>Arriving</th>
                    <th>Race</th>
                    <th>Station</th>
                </tr>
        </thead>
        <tbody>
            <tr ng-repeat="raceStation in raceStations">
                <td>
                    <input maxlength="8"  type="text" name="id" ng-model="raceStation.id" required>
                </td>
                <td>
                    <datetimepicker
                            hour-step="hourStep"
                            minute-step="minuteStep" ng-model="raceStation.depature" show-meridian="showMeridian"
                            date-format="{{format}}" date-options="dateOptions"
                            date-disabled="disabled(date, mode)"
                            datepicker-append-to-body="false"
                            readonly-date="false"
                            hidden-time="false"
                            hidden-date="false"
                            name="datetimepicker"
                            show-spinners="true"
                            readonly-time="false"
                            date-opened="raceStation.dateOpened"
                            >
                        <!-- Use date-ng-click="open($event, opened)" to override date ng-click -->
                    </datetimepicker>
                </td>
                <td>
                    <datetimepicker
                            hour-step="hourStep"
                            minute-step="minuteStep" ng-model="raceStation.arriving" show-meridian="showMeridian"
                            date-format="{{format}}" date-options="dateOptions"
                            date-disabled="disabled(date, mode)"
                            datepicker-append-to-body="false"
                            readonly-date="false"
                            hidden-time="false"
                            hidden-date="false"
                            name="datetimepicker"
                            show-spinners="true"
                            readonly-time="false"
                            date-opened="raceStation.dateOpened"
                            >
                        <!-- Use date-ng-click="open($event, opened)" to override date ng-click -->
                    </datetimepicker>
                </td>

                <td>
                    <select ng-model="defaultSelectedRace"
                            ng-init="defaultSelectedRace = raceStation.race.id"
                            ng-change="updateRaceForRaceStation(race, defaultSelectedRace)">
                        <!--<option value="">--- Select an option ---</option>-->
                        <option ng-selected= "{{race.id == defaultSelectedRace}}"
                                ng-repeat="race in races"
                                value="{{race.id}}">
                            {{race.id}}
                        </option>
                    </select>
                    <!--<input type="text" name="id" step="0.01" ng-model="race.route.name" required>-->
                </td>
                <td>
                    <select ng-model="defaultSelectedStation"
                            ng-init="defaultSelectedStation = raceStation.station.id"
                            ng-change="updateTrainForRaceStation(race, defaultSelectedStation)">
                        <!--<option value="">--- Select an option ---</option>-->
                        <option ng-selected= "{{station.id == defaultSelectedStation}}"
                                ng-repeat="station in stations"
                                value="{{station.id}}">
                            {{station.name}}
                        </option>
                    </select>
                    <!--<input type="number" name="placesAmount" ng-model="race.train.id" required>-->
                </td>
                <td>
                    <input type="button" value="Update" class="btn btn-primary" ng-click="updateRow(raceStation.id)"/>
                </td>
                <td>
                    <input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(raceStation.id)"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    $(".btn-pop").click(function(){
        setTimeout(function (){
            $('.blackout').fadeIn(600);
            var errors = document.querySelectorAll(".error_block ul");
            if(errors.length == 0)
                $('.popup').fadeIn(600);
            else{
                $('.error_block').fadeIn(600);
            }
        },1000);
    });
    $(".blackout .close").click(function(){
        $('.blackout').fadeOut(600);
        $('.popup').fadeOut(600);
        $('.error_block').fadeOut(600);
    });
</script>
</div>