<!--private int id;-->
<!--private Timestamp depature;-->
<!--private Timestamp arriving;-->
<!--private Race race;-->
<!--private Station station;-->
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<div>
    <div class="form-group">
        <label for="">RaceStation ID(name)</label>
        <input class="form-control" type="number" ng-model="raceStationIdToCreate" placeholder="Identifier">  <br/>

        <label for="">Departure</label>
        <div class="col-md-6">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dateToCreate" is-open="dateToCreate.opened" datepicker-options="dateOptions" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,dateToCreate)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>

        <label for="">Arriving</label>
        <div class="col-md-6">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dateToCreate2.date" is-open="dateToCreate2.opened" datepicker-options="dateOptions" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,dateToCreate2)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>

        <label for="">Race</label>
        <select name="race" id="race" ng-model="raceIdToCreate" ng-init="races[0]">
            <option ng-repeat="race in races" value="{{race.id}}">{{race.id}}</option>
        </select> <br />

        <label for="">Station</label>
        <select name="station" id="station" ng-model="stationIdToCreate" ng-init="stations[0]">
            <option ng-repeat="station in stations" value="{{station.id}}">{{station.name}}</option>
        </select>

        <button type="submit" class="btn btn-default" ng-click="register()">Create</button>
    </div>

    <table class="table table-bordered table-striped">
        <tr>
            <td>RaceStation ID(name)</td>
            <td>Departure</td>
            <td>Arriving</td>
            <td>Race</td>
            <td>Station</td>
        </tr>
        <tr ng-repeat="raceStation in raceStations">
            <td><input data-provide="datepicker" type="text" name="id" ng-model="raceStation.id" required></td>
            <td>
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="raceStation.depature" is-open="raceStation.opened" datepicker-options="dateOptions" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,raceStation.depature)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                    </p>
                </div>
            </td>
            <td>
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="raceStation.arriving" is-open="raceStation.opened" datepicker-options="dateOptions" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,raceStation.arriving)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                    </p>
                </div>
            </td>

            <td>
                <select ng-model="defaultSelectedRace"
                        ng-init="defaultSelectedRace = raceStation.race.id"
                        ng-change="updateRaceForRaceStation(race, defaultSelectedRace)">
                    <!--<option value="">--- Select an option ---</option>-->
                    <option ng-selected= "{{race.id == defaultSelectedRace}}"
                            ng-repeat="race in races"
                            value="{{race.id}}">
                        {{race.id}}
                    </option>
                </select>
                <!--<input type="text" name="id" step="0.01" ng-model="race.route.name" required>-->
            </td>
            <td>
                <select ng-model="defaultSelectedStation"
                        ng-init="defaultSelectedStation = raceStation.station.id"
                        ng-change="updateTrainForRaceStation(race, defaultSelectedStation)">
                    <!--<option value="">--- Select an option ---</option>-->
                    <option ng-selected= "{{station.id == defaultSelectedStation}}"
                            ng-repeat="station in stations"
                            value="{{station.id}}">
                        {{station.name}}
                    </option>
                </select>
                <!--<input type="number" name="placesAmount" ng-model="race.train.id" required>-->
            </td>
            <td>
                <input type="button" value="Update" class="btn btn-primary" ng-click="updateRow(raceStation.id)"/>
            </td>
            <td>
                <input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(raceStation.id)"/>
            </td>
        </tr>
    </table>
</div>