    <div>
        <h3>Your profile</h3>

        <div  class="error_block">
            <p>ERROR list:</p>
            <ul ng-repeat="error in errors">
                <li class="validationError">
                    {{error}}
                </li>
            </ul>
        </div>

        <form>
            <label for="">Login</label>
            <input type="text" ng-model="login" placeholder="Login" required>  <br/><br/>
            <label for="">Password</label>
            <input type="password" ng-model="password" placeholder="Password" required>  <br/><br/>
            <label for="">Repeat password</label>
            <input type="password" ng-model="repeatPassword" placeholder="Password" required> <br/><br/>
            <label for="">Name</label>
            <input type="text" ng-model="name" placeholder="Name"> <br/><br/>
            <label for="">Surname</label>
            <input type="text" ng-model="surname" placeholder="Surname"> <br/><br/>
            <label for="">Email</label>
            <input type="text" ng-model="email" placeholder="Email" required> <br/><br/>
            <label for="">Role is <b>{{roleName}}</b> </label> <br/>
            <button ng-click="update()" class="btn btn-primary btn-pop" type="submit">Edit</button><br/>
        </form>

        <script>
            $(".btn-pop").click(function(){
                setTimeout(function (){

                    var errors = document.querySelectorAll(".error_block ul");
                    if(errors.length == 0)
                        $('.popup').fadeIn(600);
                    else {
                        $('.blackout').fadeIn(600);
                        $('.error_block').fadeIn(600);
                    }
                },1000);
            });
            $(".blackout .close").click(function(){
                $('.blackout').fadeOut(600);
                $('.popup').fadeOut(600);
                $('.error_block').fadeOut(600);
            });
        </script>
    </div>