<!DOCTYPE html>
<div>
    <h3>TICKET CRUD</h3>

    <div>
        <p>ERROR list:</p>
        <ul ng-repeat="error in errors">
            <li class="validationError">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="form-group">
        <label for="">Order date(Please use fromat yyyy-[m]m-[d]d hh:mm:ss[.f...] E.g. 2016-04-05 14:36:00</label>
        <input type="text" ng-model="orderDate" class="form-control" placeholder="Order date">  <br/>

        <label for="">Place number</label>
        <input type="number" ng-model="placeNumber" class="form-control" placeholder="Place number">  <br/>

        <label for="">Carriage number</label>
        <input type="number" ng-model="carriageNumber" class="form-control" placeholder="Carriage number">  <br/>

        <label for="">Race</label>
        <select name="race" id="race" ng-model="race" ng-init="races[0]">
            <option ng-repeat="race in races" value="{{race.id}}">#{{race.id}} {{race.route.name}}</option>
        </select>
        <br/>
        <!--<input type="number" ng-model="trainType" class="form-control" placeholder="Train type id"> <br/><br/>-->
        <button type="submit" class="btn btn-default" ng-click="register()">Create</button>
    </div>

    <table class="table table-bordered table-striped">
        <tr>
            <td>Order date (yyyy-[m]m-[d]d hh:mm:ss[.f...] E.g. 2016-04-05 14:36:00)</td>
            <td>Carriage number</td>
            <td>Place number</td>
            <td>Race</td>
            <td>Actions</td>
        </tr>
        <tr ng-repeat="ticket in tickets | orderBy:'id'">
            <td><input type="text" name="Order date" ng-model="ticket.orderDate" required></td>
            <td><input type="number" name="Carriage number" ng-model="ticket.carriageNum" required></td>
            <td><input type="number" name="Place number" ng-model="ticket.num" required></td>

            <td>
                <select ng-model="defaultSelectedRace"
                        ng-init="defaultSelectedRace = ticket.race.id"
                        ng-change="updateRaceForTicket(ticket, defaultSelectedRace)">

                    <option ng-selected= "{{race.id == defaultSelectedRace}}"
                            ng-repeat="race in races"
                            value="{{race.id}}">
                        #{{race.id}} {{race.route.name}}
                    </option>
                </select>
            </td>

            <td>
                <input type="button" value="Update" class="btn btn-primary" ng-click="updateRow(ticket.id)"/>
            </td>
            <td>
                <input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(ticket.id)"/>
            </td>
        </tr>
    </table>

</div>