<!DOCTYPE html>
<div>
    <h3>TICKET CRUD</h3>

    <div class="error_block">
        <p>ERROR list:</p>
        <ul ng-repeat="error in errors">
            <li class="validationError">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="form-group">
        <label for="">Order date</label>
        <div class="time_size">
                    <datetimepicker
                            hour-step="hourStep"
                            minute-step="minuteStep" ng-model="orderDate" show-meridian="showMeridian"
                            date-format="{{format}}" date-options="dateOptions"
                            date-disabled="disabled(date, mode)"
                            datepicker-append-to-body="false"
                            readonly-date="false"
                            hidden-time="false"
                            hidden-date="false"
                            name="datetimepicker"
                            show-spinners="true"
                            readonly-time="false"
                            class="time_size"
                            required
                            >
                    </datetimepicker>
        </div>

        <label for="">Place number</label>
        <input type="number" ng-model="placeNumber" class="form-control" placeholder="Place number" required>
        <br/>

        <label for="">Carriage number</label>
        <input type="number" ng-model="carriageNumber" class="form-control" placeholder="Carriage number" required>
        <br/>

        <label for="">Race</label>
        <select name="race"
                id="race"
                ng-model="race"
                ng-init="races[0]"
                ng-change="updateStationListForRace(race)"
                required>
            <option ng-repeat="race in races" value="{{race.id}}">#{{race.id}} {{race.route.name}}</option>
        </select>
        <br/>

        <label for="">Station from</label>
        <select name="train" id="stationFrom" ng-model="stationFrom" required>
            <option ng-repeat="station in stations" value="{{station.id}}">{{station.name}}</option>
        </select><br/>

        <label for="">Station to</label>
        <select name="train" id="stationTo" ng-model="stationTo" required>
            <option ng-repeat="station in stations" value="{{station.id}}">{{station.name}}</option>
        </select>
        <!--<input type="number" ng-model="trainType" class="form-control" placeholder="Train type id"> <br/><br/>-->
        <button type="submit" class="btn btn-primary" ng-click="register()">Create</button>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Order date</th>
            <th>Carriage number</th>
            <th>Place number</th>
            <th>Race</th>
            <th>Station From</th>
            <th>Station To</th>
            <th colspan="2" >Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ticket in tickets | orderBy:'id'">
            <td>
                <datetimepicker
                        hour-step="hourStep"
                        minute-step="minuteStep" ng-model="ticket.orderDate" show-meridian="showMeridian"
                        date-format="{{format}}" date-options="dateOptions"
                        date-disabled="disabled(date, mode)"
                        datepicker-append-to-body="false"
                        readonly-date="false"
                        hidden-time="false"
                        hidden-date="false"
                        name="datetimepicker"
                        show-spinners="true"
                        readonly-time="false"
                        required
                        >
                    <!-- Use date-ng-click="open($event, opened)" to override date ng-click -->
                </datetimepicker>
            </td>


            <td><input type="number" name="Carriage number" ng-model="ticket.carriageNum" required></td>
            <td><input type="number" name="Place number" ng-model="ticket.num" required></td>

            <td>
                <select ng-model="defaultSelectedRace"
                        ng-init="defaultSelectedRace = ticket.race.id"
                        ng-change="updateRaceForTicket(ticket, defaultSelectedRace)"
                        required>

                    <option ng-selected= "{{race.id == defaultSelectedRace}}"
                            ng-repeat="race in races"
                            value="{{race.id}}">
                        #{{race.id}} {{race.route.name}}
                    </option>
                </select>
            </td>

            <td>
                <select ng-model="defaultSelectedStationFrom"
                        ng-init="defaultSelectedStationFrom = ticket.stationFrom.id"
                        ng-change="updateStationFromForTicket(ticket, defaultSelectedStationFrom)"
                        required>
                    <!--<option value="">--- Select an option ---</option>-->
                    <option ng-selected= "{{station.id == defaultSelectedStationFrom}}"
                            ng-repeat="station in stationHashMap[defaultSelectedRace]"
                            value="{{station.id}}">
                        {{station.name}}
                    </option>
                </select>
            </td>
            <td>
                <select ng-model="defaultSelectedStationTo"
                        ng-init="defaultSelectedStationTo = ticket.stationTo.id"
                        ng-change="updateStationToForTicket(ticket, defaultSelectedStationTo)"
                        required>
                    <option ng-selected= "{{station.id == defaultSelectedStationTo}}"
                            ng-repeat="station in stationHashMap[defaultSelectedRace]"
                            value="{{station.id}}">
                        {{station.name}}
                    </option>
                </select>
            </td>

            <td>
                <input type="button" value="Update" class="btn btn-primary" ng-click="updateRow(ticket.id)"/>
            </td>
            <td>
                <input type="button" value="Remove" class="btn btn-danger" ng-click="tryToRemoveRow(ticket.id)"/>
            </td>
        </tr>
        </tbody>
    </table>
    <script>
        $(".btn-pop").click(function(){
            setTimeout(function (){

                var errors = document.querySelectorAll(".error_block ul");
                if(errors.length == 0)
                    $('.popup').fadeIn(600);
                else {
                    $('.blackout').fadeIn(600);
                    $('.error_block').fadeIn(600);
                }
            },1000);
        });
        $(".blackout .close").click(function(){
            $('.blackout').fadeOut(600);
            $('.popup').fadeOut(600);
            $('.error_block').fadeOut(600);
        });
    </script>
</div>