<div>
    <h3>DISTANCE CRUD</h3>

    <div class="form-group">
        <label for="">Station from</label>
        <select name="stationFrom" id="stationFrom" ng-model="stationFrom" ng-init="stations[0]" required>
            <option ng-repeat="station in stations" value="{{station.id}}">{{station.name}}</option>
        </select> <br/>

        <label for="">Station to</label>
        <select name="stationTo" id="stationTo" ng-model="stationTo" ng-init="stations[0]" required>
            <option ng-repeat="station in stations" value="{{station.id}}">{{station.name}}</option>
        </select> <br/>

        <label for="">Distance(in kilometers)</label>
        <input type="text" ng-model="distance" class="form-control" placeholder="Distance (in kilometers)" required>  <br/>

        <button type="submit" class="btn btn-default btn-pop" ng-click="register()">Create</button>
    </div>

    <div class="table-responsive">
        <table class="table-striped table-bordered text-center">
    <div class="error_block">
        <p>ERROR list:</p>
        <ul ng-repeat="error in errors">
            <li class="validationError">
                {{error}}
            </li>
        </ul>
    </div>

    <div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Station from</th>
                <th>Station to</th>
                <th>Distance</th>
                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stationDistance in stationDistances">
                    <td>
                        <select ng-model="defaultSelectedStationFrom"
                                ng-init="defaultSelectedStationFrom = stationDistance.stIdFrom"
                                disabled="true"
                                ng-change="updateStationFromForStationDistance(stationDistance, defaultSelectedStationFrom)"
                                required>

                            <option ng-selected= "{{station.id == defaultSelectedStationFrom}}"
                                    ng-repeat="station in stations"
                                    value="{{station.id}}"
                                    disabled="true">
                                {{station.name}}
                            </option>
                        </select>
                    </td>
                    <td>
                    <select ng-model="defaultSelectedStationTo"
                            ng-init="defaultSelectedStationTo = stationDistance.stIdTo"
                            options="station.name for station in stations"
                            disabled="true"
                            ng-change="updateStationToForStationDistance(stationDistance, defaultSelectedStationTo)"
                            required>

                        <option ng-selected= "{{station.id == defaultSelectedStationTo}}"
                                ng-repeat="station in stations"
                                value="{{station.id}}"
                                disabled="true">
                            {{station.name}}
                        </option>
                    </select>
                </td>
                    <td><input type="text" name="name" ng-model="stationDistance.distance" required></td>
                <td>
                    <input type="button" value="Update" class="btn btn-primary" ng-click="updateRow(stationDistance)"/>
                </td>
                <td>
                    <input type="button" value="Remove" class="btn btn-primary" ng-click="tryToRemoveRow(stationDistance)"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
            <script>
                $(".btn-pop").click(function(){
                    setTimeout(function (){
                        $('.blackout').fadeIn(600);
                        var errors = document.querySelectorAll(".error_block ul");
                        if(errors.length == 0)
                            $('.popup').fadeIn(600);
                        else{
                            $('.error_block').fadeIn(600);
                        }
                    },1000);
                });
                $(".blackout .close").click(function(){
                    $('.blackout').fadeOut(600);
                    $('.popup').fadeOut(600);
                    $('.error_block').fadeOut(600);
                });
            </script>
</div>