<!--private int stIdFrom;-->
<!--private int stIdTo;-->
<!--private int distance;-->

<div>
    <div class="form-group">
        <label for="">Station From</label>
        <select name="stationFrom" id="stationFrom" ng-model="stationFrom" ng-init="stations[0]">
            <option ng-repeat="station in stations" value="{{station.id}}">{{station.name}}</option>
        </select> <br/>

        <label for="">Station To</label>
        <select name="stationTo" id="stationTo" ng-model="stationTo" ng-init="stations[0]">
            <option ng-repeat="station in stations" value="{{station.id}}">{{station.name}}</option>
        </select> <br/>

        <label for="">Distance(in kilometer)</label>
        <input type="text" ng-model="distance" class="form-control" placeholder="Distance(in meter)">  <br/>

        <button type="submit" class="btn btn-default" ng-click="register()">Create</button>
    </div>

    <div class="table-responsive">
        <table class="table-striped table-bordered text-center">
    <div>
        <p>ERROR list:</p>
        <ul ng-repeat="error in errors">
            <li class="validationError">
                {{error}}
            </li>
        </ul>
    </div>

    <div>
        <table class="table table-bordered table-striped">
            <tr>
                <td>Station Id FROM</td>
                <td>Station Id To</td>
                <td>Distance</td>
            </tr>
            <tr ng-repeat="stationDistance in stationDistances">
                    <td>
                        <select ng-model="defaultSelectedStationFrom"
                                ng-init="defaultSelectedStationFrom = stationDistance.stIdFrom"
                                disabled="true"
                                ng-change="updateStationFromForStationDistance(stationDistance, defaultSelectedStationFrom)">

                            <option ng-selected= "{{station.id == defaultSelectedStationFrom}}"
                                    ng-repeat="station in stations"
                                    value="{{station.id}}"
                                    disabled="true">
                                {{station.name}}
                            </option>
                        </select>
                    </td>
                    <td>
                    <select ng-model="defaultSelectedStationTo"
                            ng-init="defaultSelectedStationTo = stationDistance.stIdTo"
                            options="station.name for station in stations"
                            disabled="true"
                            ng-change="updateStationToForStationDistance(stationDistance, defaultSelectedStationTo)">

                        <option ng-selected= "{{station.id == defaultSelectedStationTo}}"
                                ng-repeat="station in stations"
                                value="{{station.id}}"
                                disabled="true">
                            {{station.name}}
                        </option>
                    </select>
                </td>
                    <td><input type="text" name="name" ng-model="stationDistance.distance" required></td>
                <td>
                    <input type="button" value="Update" class="btn btn-primary" ng-click="updateRow(stationDistance)"/>
                </td>
                <td>
                    <input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(stationDistance)"/>
                </td>
            </tr>
        </table>
    </div>
</div>