<!--private int stIdFrom;-->
<!--private int stIdTo;-->
<!--private int distance;-->

<div>
    <div class="form-group">
        <label for="">Station ID From</label>
        <input type="text" ng-model="stationIdFrom" class="form-control" placeholder="Station ID From">  <br/>

        <label for="">Station ID To</label>
        <input type="text" ng-model="stationIdTo" class="form-control" placeholder="Station ID To">  <br/>

        <label for="">Distance(in meter)</label>
        <input type="text" ng-model="distance" class="form-control" placeholder="Distance(in meter)">  <br/>

        <button type="submit" class="btn btn-default" ng-click="register()">Create</button>
    </div>

    <div>
        <table class="table table-bordered table-striped">
            <tr>
                <td>Station Id FROM</td>
                <td>Station Id To</td>
                <td>Distance</td>
            </tr>
            <tr ng-repeat="stationDistance in stationDistances">
                <td><input type="text" name="name" ng-model="stationDistance.stIdFrom" required></td>
                <td><input type="text" name="name" ng-model="stationDistance.stIdTo" required></td>
                <td><input type="text" name="name" ng-model="stationDistance.distance" required></td>

                <td>
                    <input type="button" value="Update" class="btn btn-primary" ng-click="updateRow(stationDistance)"/>
                </td>
                <td>
                    <input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(stationDistance)"/>
                </td>
            </tr>
        </table>
    </div>
</div>