<div>
    <div class="form-group">
        <label for="">Race ID(name)</label>
        <input class="form-control" type="number" ng-model="raceIdToCreate" placeholder="Identifier">  <br/>
        <label for="">Route</label>
        <select name="route" id="route" ng-model="routeToCreate" ng-init="routes[0]">
            <option ng-repeat="route in routes" value="{{route.id}}">{{route.name}}</option>
        </select> <br />
        <!--<input type="number" ng-model="trainCarriageAmount" class="form-control" placeholder="Route">  <br/>-->
        <label for="">Train ID(name)</label>
        <select name="train" id="train" ng-model="trainToCreate" ng-init="trains[0]">
            <option ng-repeat="train in trains" value="{{train.id}}">{{train.train_number}}</option>
        </select>
        <!--<input type="number" ng-model="trainType" class="form-control" placeholder="Train ID"> <br/><br/>-->
        <button type="submit" class="btn btn-default btn-pop" ng-click="register()">Create</button>
    </div>

    <div class="error_block">
        <p>ERROR list:</p>
        <ul ng-repeat="error in errors">
            <li class="validationError">
                {{error}}
            </li>
        </ul>
    </div>

    <table class="table table-bordered table-striped">
    <div class="table-responsive">
        <table class="table-striped table-bordered text-center popup">
        <tr>
            <td>Race number</td>
            <td>Route name</td>
            <td>Train number</td>

        </tr>
        <tr ng-repeat="race in races">
            <td><input type="text" name="id" ng-model="race.race_number" required></td>
            <td>
                <select ng-model="defaultSelectedRoute"
                        ng-init="defaultSelectedRoute = race.route.id"
                        ng-change="updateRouteForRace(race, defaultSelectedRoute)">
                    <!--<option value="">--- Select an option ---</option>-->
                    <option ng-selected= "{{route.id == defaultSelectedRoute}}"
                            ng-repeat="route in routes"
                            value="{{route.id}}">
                        {{route.name}}
                    </option>
                </select>
                <!--<input type="text" name="id" step="0.01" ng-model="race.route.name" required>-->
            </td>
            <td>
                <select ng-model="defaultSelectedTrain"
                        ng-init="defaultSelectedTrain = race.train.id"
                        ng-change="updateTrainForRace(race, defaultSelectedTrain)">
                    <!--<option value="">--- Select an option ---</option>-->
                    <option ng-selected= "{{train.id == defaultSelectedTrain}}"
                            ng-repeat="train in trains"
                            value="{{train.id}}">
                        {{train.train_number}}
                    </option>
                </select>
                <!--<input type="number" name="placesAmount" ng-model="race.train.id" required>-->
            </td>
            <td>
                <input type="button" value="Update" class="btn btn-primary" ng-click="updateRow(race.id)"/>
            </td>
            <td>
                <input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(race.id)"/>
            </td>
        </tr>
    </table>
    </div>
        <script>
            $('.popup').css({"display":"none"});
            $(".btn-pop").click(function(){
                setTimeout(function (){
                    $('.blackout').fadeIn(600);
                    var errors = document.querySelectorAll(".error_block ul");
                    if(errors.length == 0)
                        $('.popup').fadeIn(600);
                    else{
                        $('.error_block').fadeIn(600);
                    }
                },1000);
            });
            $(".blackout .close").click(function(){
                $('.blackout').fadeOut(600);
                $('.popup').fadeOut(600);
                $('.error_block').fadeOut(600);
            });
        </script>
</div>