<div>
    <h3>ROUTE CRUD</h3>

    <div class="form-group">
        <label for="">Route Name</label>
        <input type="text" ng-model="routeNameToCreate" class="form-control" placeholder="Route name">  <br/>
        <br/>
        <button type="submit" class="btn btn-default btn-pop" ng-click="register()">Create</button>
    </div>

    <div class="table-responsive">
        <div class="table-striped table-bordered text-center">
    <div class="error_block">
        <p>ERROR list:</p>
        <ul ng-repeat="error in errors">
            <li class="validationError">
                {{error}}
            </li>
        </ul>
    </div>

    <table class="table table-bordered table-striped popup">
        <tr>
            <td>Name</td>
        </tr>
        <tr ng-repeat="route in routes | orderBy:'id'">
            <td><input type="text" name="Name" ng-model="route.name" required></td>
            <td>
                <input type="button" value="Update" class="btn btn-primary" ng-click="updateRow(route.id)"/>
            </td>
            <td>
                <input type="button" value="Remove" class="btn btn-primary" ng-click="tryToRemoveRow(route.id)"/>
            </td>
        </tr>
    </table>

    </div>
    <script>
        $(".btn-pop").click(function(){
            setTimeout(function (){
                $('.blackout').fadeIn(600);
                var errors = document.querySelectorAll(".error_block ul");
                if(errors.length == 0)
                    $('.popup').fadeIn(600);
                else{
                    $('.error_block').fadeIn(600);
                }
            },1000);
        });
        $(".blackout .close").click(function(){
            $('.blackout').fadeOut(600);
            $('.popup').fadeOut(600);
            $('.error_block').fadeOut(600);
        });
    </script>
</div>
</div>