<div>
    <h3>TRAIN CRUD</h3>

    <div class="form-group">
        <label for="">Train number</label>
        <input class="form-control" type="number" ng-model="trainId" placeholder="Identifier">  <br/>

        <label for="">Train carriage count</label>
        <input type="number" ng-model="trainCarriageAmount" class="form-control" placeholder="Carriage amount" required>
        <br/>

        <label for="">Train type</label>
        <select name="trainType" id="trainType" ng-model="trainTypeToCreate" ng-init="trainTypes[0]" required>
            <option ng-repeat="trainType in trainTypes" value="{{trainType.id}}">{{trainType.name}}</option>
        </select>
        <br/>

        <!--<input type="number" ng-model="trainType" class="form-control" placeholder="Train type id"> <br/><br/>-->
        <button type="submit" class="btn btn-primary" ng-click="register()">Create</button>
    </div>
    <div class="error_block">
        <p>ERROR list:</p>
        <ul ng-repeat="error in errors">
            <li class="validationError">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="table table-striped">
        <div class="table-responsive">
            <table class="table table-bordered table-striped text-center">
                <thead>
                <tr>
                    <th>Id(Number)</th>
                    <th>Carriage amount</th>
                    <th>Type</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="train in trains | orderBy:'id'">
                    <td><input type="number" name="Train number" ng-model="train.train_number" required></td>
                    <td><input type="number" name="Carriage amount" ng-model="train.carriageAmount" required></td>
                    <td>
                        <select ng-model="defaultSelectedTrainType"
                                ng-init="defaultSelectedTrainType = train.trainType.id"
                                ng-change="updateTrainTypeForTrain(train, defaultSelectedTrainType)">
                            <!--<option value="">--- Select an option ---</option>-->
                            <option ng-selected= "{{trainType.id == defaultSelectedTrainType}}"
                                    ng-repeat="trainType in trainTypes"
                                    value="{{trainType.id}}">
                                    {{trainType.name}}
                            </option>
                        </select>
                    </td>

                <td>
                    <input type="button" value="Update" class="btn btn-primary" ng-click="updateRow(train.id)"/>
                </td>
                <td>
                    <input type="button" value="Remove" class="btn btn-danger" ng-click="tryToRemoveRow(train.id)"/>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    </table>
</div>