<div>
    <h3>TRAIN CRUD</h3>

    <div>
        <p class="eventStyle">Here will be rendered event list:</p>
        <ul ng-show = "events" ng-repeat="event in events" aria-dropeffect="popup">
            <li class="eventStyle">
                {{event}}
            </li>
        </ul>
    </div>


    <label for="">Train ID</label>
    <input type="number" ng-model="id" placeholder="Identifier">  <br/>
    <label for="">Train carriage count</label>
    <input type="number" ng-model="carriageAmount" placeholder="Carriage amount">  <br/>
    <label for="">Train type ID</label>
    <input type="number" ng-model="trainType" placeholder="Train type id"> <br/><br/>
    <button ng-click="register()">Create</button> <button ng-click="update()">Update</button> <button ng-click="deleteRequest()">Delete</button>


    <div>
        <p class="validationError">Here will be rendered ERROR list:</p>
        <ul ng-show = "errors" ng-repeat="error in errors" aria-dropeffect="popup">
            <li class="validationError">
                {{error}}
            </li>
        </ul>
    </div>

    <table>
        <tr>
            <td>Id</td>
            <td>Type</td>
            <td>Coefficient</td>
            <td>Places amount</td>
            <td>Actions</td>
        </tr>
        <tr ng-repeat="trainType in trainTypes">
            <td>{{trainType.id}}</td>
            <td><input type="text" name="name" ng-model="trainType.name" required></td>
            <td><input type="number" name="coefficient" step="0.01" ng-model="trainType.coefficient" required></td>
            <td><input type="number" name="placesAmount" ng-model="trainType.placesAmount" required></td>
            <td>
                <input type="button" value="Update" class="btn btn-primary" ng-click="updateRow(trainType.id)"/>
            </td>
            <td>
                <input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(trainType.id)"/>
            </td>
        </tr>
    </table>

</div>