<div>
    <label for="">Race choosing</label> <br/><br/>
    <div ng-show = "errors != null && errors.length > 0">
        <p>Errors:</p>
        <ul ng-repeat="error in errors" aria-dropeffect="popup">
            <li class="validationError">
                {{error}}
            </li>
        </ul>
    </div>

    <!--TODO: use md-autocomplete instead of selects-->
    <div class="form-group">
        <label for="">Enter the departure station</label>
        <select name="departureStation" id="departureStation" ng-model="departureStationId" ng-init="stations[0]">
            <option ng-repeat="station in stations" value="{{station.id}}">{{station.name}}</option>
        </select> <br/><br/>

        <label for="">Enter the arrive station</label>
        <select name="arriveStation" id="arriveStation" ng-model="arriveStationId" ng-init="stations[1]">
            <option ng-repeat="station in stations" value="{{station.id}}">{{station.name}}</option>
        </select> <br/><br/>

        <label for="">Enter the race date</label>        <datetimepicker
                hour-step="hourStep"
                minute-step="minuteStep" ng-model="raceDate" show-meridian="showMeridian"
                date-format="{{format}}" date-options="dateOptions"
                date-disabled="disabled(date, mode)"
                datepicker-append-to-body="false"
                readonly-date="false"
                hidden-time="false"
                hidden-date="false"
                name="datetimepicker"
                show-spinners="true"
                readonly-time="false"
                >
            <!-- Use date-ng-click="open($event, opened)" to override date ng-click -->
        </datetimepicker>
        <br/>

        <button type="submit" class="btn btn-default" ng-click="find()">Find races</button>
    </div>

    <br/><br/>
        <div ng-show = "raceInfos && !(errors != null && errors.length > 0)">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Route name</th>
                <th>Departure</th>
                <th>Arriving</th>
                <th>Cost</th>
                <th>Race info</th>
                <th>Route info</th>
                <th ng-show="userRole"></th>
            </tr>
            <tr ng-repeat="raceInfo in raceInfos">
                <td>{{raceInfo.name}}</td>
                <td>{{raceInfo.departure.toString().replace('T', ' ')}}</td>
                <td>{{raceInfo.arriving.toString().replace('T', ' ')}}</td>
                <td>{{raceInfo.cost}}</td>
                <td>
                    <a href="/doc/race?id={{raceInfo.id}}&format=PDF" class="btn btn-default">Pdf</a>
                    <a href="/doc/race?id={{raceInfo.id}}&format=XLS" class="btn btn-default">Xls</a>
                    <a href="/doc/race?id={{raceInfo.id}}&format=CSV" class="btn btn-default">Csv</a>
                <td>
                    <a href="/doc/route?id={{raceInfo.id}}&format=PDF" class="btn btn-default">Pdf</a>
                    <a href="/doc/route?id={{raceInfo.id}}&format=XLS" class="btn btn-default">Xls</a>
                    <a href="/doc/route?id={{raceInfo.id}}&format=CSV" class="btn btn-default">Csv</a>
                </td>
                <td ng-show="userRole">
                    <button type="submit" class="btn btn-default" ng-click="showRaceDetails(raceInfo.id)">
                        Order ticket
                    </button>
                </td>
            </tr>
        </table>
    </div><br/>

    <a href="/doc/raceinfo?from={{departureStationId}}&to={{arriveStationId}}&timestamp={{raceDate.getTime()}}&format=PDF" class="btn btn-default">Pdf</a>
    <a href="/doc/raceinfo?from={{departureStationId}}&to={{arriveStationId}}&timestamp={{raceDate.getTime()}}&format=XLS" class="btn btn-default">Xls</a>
    <a href="/doc/raceinfo?from={{departureStationId}}&to={{arriveStationId}}&timestamp={{raceDate.getTime()}}&format=CSV" class="btn btn-default">Csv</a>
</div>