<div>
    <h3>Race choosing</h3>
    <div ng-show = "errors != null && errors.length > 0" class="error_block">
        <p>Errors:</p>
        <ul ng-repeat="error in errors" aria-dropeffect="popup">
            <li class="validationError">
                {{error}}
            </li>
        </ul>
    </div>

    <!--TODO: use md-autocomplete instead of selects-->
    <div class="form-group">
        <label for="">Enter the departure station</label>
        <select name="departureStation" id="departureStation" ng-model="departureStationId" ng-init="stations[0]">
            <option ng-repeat="station in stations" value="{{station.id}}">{{station.name}}</option>
        </select> <br/><br/>

        <label for="">Enter the arrive station</label>
        <select name="arriveStation" id="arriveStation" ng-model="arriveStationId" ng-init="stations[1]">
            <option ng-repeat="station in stations" value="{{station.id}}">{{station.name}}</option>
        </select> <br/><br/>

        <label for="">Enter the race date</label>
        <div>
            <datetimepicker
                    style="display: block; margin: 30px 0 0;"
                    ng-model="raceDate"
                    show-meridian="showMeridian"
                    date-format="{{format}}"
                    date-options="dateOptions"
                    datepicker-append-to-body="false"
                    readonly-date="false"
                    hidden-time="true"
                    hidden-date="false"
                    name="datetimepicker"
                    show-spinners="true"
                    readonly-time="false"

                    >
            <!-- Use date-ng-click="open($event, opened)" to override date ng-click -->
            </datetimepicker>
        </div>
        <br/>

        <button type="submit" class="btn btn-primary btn-pop" ng-click="find()">Find races</button>
    </div>


    <div ng-show = "raceInfos && !(errors != null && errors.length > 0)">
        <br/><br/>

        <table class="table table-bordered table-striped">
            <caption>
                FOUNDED RACES
            </caption>
            <thead>
                <tr>
                    <th>Route name</th>
                    <th>Departure</th>
                    <th>Arriving</th>
                    <th>Cost</th>
                    <th>Race info</th>
                    <th>Route info</th>
                    <th>Stations info</th>
                    <th ng-show="roleId > 0">Next</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="raceInfo in raceInfos">
                    <td>{{raceInfo.name}}</td>
                    <td>{{raceInfo.departure.toString().replace('T', ' ')}}</td>
                    <td>{{raceInfo.arriving.toString().replace('T', ' ')}}</td>
                    <td>{{raceInfo.cost}}</td>
                    <td>
                        <a href="/doc/race?id={{raceInfo.id}}&format=PDF" class="btn btn-default">Pdf</a>
                        <a href="/doc/race?id={{raceInfo.id}}&format=XLS" class="btn btn-default">Xls</a>
                        <a href="/doc/race?id={{raceInfo.id}}&format=CSV" class="btn btn-default">Csv</a>
                    </td>
                    <td>
                        <a href="/doc/route?id={{raceInfo.id}}&format=PDF" class="btn btn-default">Pdf</a>
                        <a href="/doc/route?id={{raceInfo.id}}&format=XLS" class="btn btn-default">Xls</a>
                        <a href="/doc/route?id={{raceInfo.id}}&format=CSV" class="btn btn-default">Csv</a>
                    </td>
                    <td>
                        <a href="/doc/station?id={{raceInfo.id}}&format=PDF" class="btn btn-default">Pdf</a>
                        <a href="/doc/station?id={{raceInfo.id}}&format=XLS" class="btn btn-default">Xls</a>
                        <a href="/doc/station?id={{raceInfo.id}}&format=CSV" class="btn btn-default">Csv</a>
                    </td>
                    <td ng-show="roleId > 0">
                        <button class="btn btn-primary" ng-click="showRaceDetails(raceInfo.id)">
                            Order ticket
                        </button>
                    </td>
            </tr>
            </tbody>
        </table>

        <a href="/doc/raceinfo?from={{departureStationId}}&to={{arriveStationId}}&timestamp={{raceDate.getTime()}}&format=PDF" class="btn btn-default">Pdf</a>
        <a href="/doc/raceinfo?from={{departureStationId}}&to={{arriveStationId}}&timestamp={{raceDate.getTime()}}&format=XLS" class="btn btn-default">Xls</a>
        <a href="/doc/raceinfo?from={{departureStationId}}&to={{arriveStationId}}&timestamp={{raceDate.getTime()}}&format=CSV" class="btn btn-default">Csv</a>
    </div>
    <script>
        $(".btn-pop").click(function(){
            setTimeout(function (){
                var errors = document.querySelectorAll(".error_block ul");
                if(errors.length != 0) {
                    $('.error_block').fadeIn(600);
                    $('.blackout').fadeIn(600);
                }
            },1000);
        });
        $(".blackout .close").click(function(){
            $('.blackout').fadeOut(600);
            $('.error_block').fadeOut(600);
        });
    </script>
    <br/>

</div>