body
{
    width: 100%;
    overflow-x: hidden;
    position: absolute;
    min-height: 100%;
    padding-bottom: 0;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.to_white
{
    position: absolute;
    width: 100%;
    background-color: rgba(255,255,255,0.6);
}
html
{
    min-height: 100%;
}
.container-fluid,
.container
{
	padding: 0 !important;
}

.admin-link
{
	overflow: hidden;
}
.admin-link li
{
	display: block;
	float: left;
	width: 228px;
}
@media screen and (max-width: 767px)
{
    .admin-link li
    {
        float: left;
        width: 50%;
        max-width: 228px;
        margin: 0 auto;
    }
    .admin-link li a
    {
        max-width: 205px;
        margin: 0 auto 15px;
        width: 95%;
    }
}
.admin-link li a
{
	display: block;
    width: 205px;
    margin: 0 auto 15px;
    text-align: center;
    color: #666;
    font-size: 16px;
    text-decoration: none;
    user-select: none;
    padding: .9em 0;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.1s;
}
.admin-link li a:hover,
.admin-link li a:active
{
	background-color: #666;
	color: #fff;
}

.navbar
{
    margin-bottom: 50px;
    min-height: 50px;
    background-color: #080b09;
    color: #e7e7e7;
}
h3
{
    text-align: center;
    font-size: 28px;
    margin: 25px 0 40px;
    color:#080b09;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
    border-color: #e7e7e7;
    background-color: #080b09;
    text-align: center;
    border: none;
    position: relative;
    bottom: 1px;
}

.navbar-toggle:focus,
.navbar-toggle
{
    margin-top: 8px;
    margin-right: 30px;
    margin-bottom: 8px;
    background-color: #080b09;
    border: 1px solid #ddd;
}
.navbar-default .navbar-nav
{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .navbar-default .navbar-nav
{
        padding: 15px 0;
    }
}
.not-footer
{
    box-sizing: border-box;
    min-height: 100vh;
    padding-bottom: 130px;
}


.ng-scope label
{
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #080b09;
}
.ng-scope input[type="text"],
.ng-scope input[type="password"],
.ng-scope select,
.ng-scope input[type="number"]{
    display: block;
    width: 45%;
    height: 45px;
    min-width: 320px;
    margin: 30px auto 0;
    background: rgba(240,240,240,0.8);
    border: solid 1px #999;
    outline: none;
    padding: 0 15px;
    box-sizing: border-box;
}
.center
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
datetimepicker[hidden-time="true"] .datetimepicker-wrapper
{
    display:block;
}
.datetimepicker-wrapper input,
.datetimepicker-wrapper button
{
    diplay: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto !important;
}

.ng-scope button[type="submit"],
.ng-scope input[type="button"]{
    margin: 30px auto 0;
    display: block;
    min-width: 200px;
    height: 45px;
    border: solid 1px #999;
    outline: none;
}
.login_block
{
    margin-top: 0;
}
.registr_block,
.user_crud_block
{
    overflow: hidden;
}
.left,
.right
{
    width: 50%;
    float: left;
}
@media screen and (max-width: 767px){
    .left,
    .right
{
        width: 100%;
        float: left;
    }
}
.title_block
{
    font-size: 28px;
}

.on-top{ position: relative; z-index: 200; }

.table-bordered>tbody>tr>td, .table-bordered>thead>tr>th,
.table-bordered>tbody>tr>td, .table-bordered>thead>tr>th{vertical-align: middle;}
.table-striped
{
    border-collapse:collapse;
    width: 100%;
    margin-top: 30px;
}
.table-striped select,
.table-striped input
{
    min-width: 60px !important;
    width: 90% !important;
    margin: 20px auto !important;
}
.table-striped tr td
{
    border: solid 1px #666 !important;
}
.table-striped tr:nth-of-type(even),
.table-striped tr td,
.table-striped tr
{
    background-color: rgba(255,255,255,0.5) !important;
}
.table-striped tr:nth-of-type(even) td
{
    border: solid 1px #666 !important;
    vertical-align: middle;
}
.table-striped input[type="button"]{
    border: solid 1px #999;
    outline: none;
    background-color: #fff;
    max-width: 100px;
}
.table-striped input[type="button"]:hover
{
    background: rgba(240,240,240,0.8);
    color: #080b09;
}
caption
{
    font-size: 20px;
    text-align: center;
    color: inherit;
    padding-bottom: 20px
}

.blackout
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0,0,0, 0.7);
    display: none;
    top: 0;
    left: 0;
}
.blackout .close
{
    position: absolute;
    color: #eee;
    font-weight: 700;
    font-size: 45px;
    top: 60px;
    right: 40px;
    cursor: pointer;
}
.popup
{
    width: 80%;
    max-width: 1170px;
    position: absolute;
    z-index: 200;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0);
}
.time_size{
    min-width: 50px !important;
    max-width: 80px !important;
}
.error_block
{
    z-index: 200;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 0;
    visibility: visible !important;
    transform: translate(-50%, 0);
    font-size: 18px;
    display: none;
}