@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialRegular';
  src: url('../fonts/arial.ttf');
  src: url('../fonts/arial.ttf') format('truetype');
}
@font-face {
  font-family: 'ArialBold';
  src: url('../fonts/arialbd.ttf');
  src: url('../fonts/arialbd.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'CinzelRegular';
  src: url('../fonts/Cinzel-Regular.otf');
  src: url('../fonts/Cinzel-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'CinzelBold';
  src: url('../fonts/Cinzel-Bold.otf');
  src: url('../fonts/Cinzel-Bold.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

/* font-family: "PlayfairDisplayRegular"; */
@font-face {
  font-family: "PlayfairDisplayRegular";
  src: url("../fonts/PlayfairDisplayRegular.eot");
  src: url("../fonts/PlayfairDisplayRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/PlayfairDisplayRegular.woff") format("woff"),
  url("../fonts/PlayfairDisplayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PlayfairDisplayBold"; */
@font-face {
  font-family: "PlayfairDisplayBold";
  src: url("../fonts/PlayfairDisplayBold.eot");
  src: url("../fonts/PlayfairDisplayBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/PlayfairDisplayBold.woff") format("woff"),
  url("../fonts/PlayfairDisplayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PlayfairDisplayItalic"; */
@font-face {
  font-family: "PlayfairDisplayItalic";
  src: url("../fonts/PlayfairDisplayItalic.eot");
  src: url("../fonts/PlayfairDisplayItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/PlayfairDisplayItalic.woff") format("woff"),
  url("../fonts/PlayfairDisplayItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PlayfairDisplayBoldItalic"; */
@font-face {
  font-family: "PlayfairDisplayBoldItalic";
  src: url("../fonts/PlayfairDisplayBoldItalic.eot");
  src: url("../fonts/PlayfairDisplayBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/PlayfairDisplayBoldItalic.woff") format("woff"),
  url("../fonts/PlayfairDisplayBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}




html, body
{
  padding:0;
  margin:0;
  color:#fdfdfd;
  font-family: "PlayfairDisplayRegular", PlayfairDisplayBold, sans-serif !important;
  font-size:13px;
  line-height: 1.3;
  min-width:320px;
}
body{
  background: #080b09 url(../images/bg.jpg) no-repeat center center;
  background-size: cover;
}
ul { list-style:none; padding:0;}
img{ max-width:100%;}
a, a:hover, a:focus, a:active{cursor:pointer; text-decoration: none; outline:0px !important}
.mrg,.row {margin-left:0; margin-right:0;}
.pdg,.container-fluid {padding-right:0; padding-left:0;}
input, input:focus, textarea,textarea:focus,select, select:focus{outline:none; color:#080b09; box-shadow: none;}

select, select:focus{height: 30px;
  min-width: 150px;
  color:#080b09;
}
/*input[type='button'], input[type='button']:focus, button,button:focus, .btn, .btn:focus, .btn:hover{outline:none;box-shadow: none; border:none; color:#080b09; }*/
h1,h2,h3,h4,h5{color:#a4cdff;}

.validationError {
  color: #b50909;
  font-weight: bold;
}
.admin-link li{display:inline-block; opacity:0.9;}
.navbar-default {
  background-color: #a4cdff;
  opacity: 0.9;
  border-color: transparent;
  border:none;
  height:50px;
  margin-bottom:50px;
}
.navbar-default .navbar-nav
{
  padding-right:30px;
}
.navbar>.container .navbar-brand
{
  padding-top:10px;
}
.navbar-default .navbar-nav>li>a
{
  font-size:14px;
  color: transparent;
  text-transform:uppercase;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
{
  color: #1d6467;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.content
{
  min-height:450px;
  height:auto;
}
label
{
  font-size:15px;
  color:#a4cdff;
  font-weight:normal;
}
table
{
  background-color:#a4cdff;
  color: #003;
}
.center-table
{
  font-size: 16px;
  max-width: 100%;
  margin: auto auto 20px;
}
.center-table td
{
  padding: 2px;
}
.data-table
{
  font-size: 16px;
  /*width: 100%;*/
  max-width: 100%;
  margin: auto auto 20px;
}
.data-table td, .data-table th
{
  vertical-align: top;
  border-bottom: 1px solid #FFF;
  padding: 8px;
}
.table-bordered>thead>tr>th
{
  font-size:15px;
  vertical-align: middle;
  background-color: #5695bb;
  color:#EEE;
  text-align:center;
}

input[type="date"]
{
  max-width: 150px;
}
#foot
{
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(56, 81, 141, 0.9);
  width: 100%;
  margin-top: -100px;
  height: 100px;
}
#foot p
{
  padding:45px 0 0;
  color: #ccc;
}
.crud-form-control
{
  display:inline-block;
  width: 50%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background: #fff none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
@media (max-width:500px)
{
.crud-form-control
{
  display:block;
  width:100%;
}
}
.btn-primary, .btn-primary:focus, .btn-primary:hover
{
  background-color: #1c3385;
}
.modal-dialog
{
  width:80%;
}
.modal-content
{  margin-top:70px;}
.modal-content h4
{color:#080b09;
text-align: center;}
.modal-content button.close
{color:#080b09;}
.modal-header
{border-bottom:none;  }

.modal-footer
{
  padding:0 15px;
  border-top:none;
}
.modal-dialog
{
  z-index:2000;
}
.table-striped tr:nth-of-type(even) {
  background-color: #c5ddfb;
}

input[type='button'], input[type='button']:focus, button,button:focus, .btn, .btn:focus, .btn:hover{box-shadow: none; }

input.ng-touched.ng-invalid, select.ng-touched.ng-invalid {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 0, 0, 0.8);
  border-color: #ff8888;
}

.ng-scope input.ng-touched:focus, .ng-scope select.ng-touched:focus,
.ng-scope input.ng-untouched:focus, .ng-scope select.ng-untouched:focus
{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
}

p {
  font-size:18px;
}

p.main
{
  text-align:center;
  font-size:30px;
  margin-top:60px;
  text-shadow:  1px 1px 1px black, 1px 1px 1em #4789C2;
}

input[type="date"]
{
  max-width: 150px;
}
.crud-form-control
{
  display:inline-block;
  width: 50%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
@media (max-width:500px)
{
  .crud-form-control
  {
    display:block;
    width:100%;
  }
}
.btn-primary, .btn-primary:focus, .btn-primary:hover
{
  background-color: #1c3385;
}
.modal-content
{  margin-top:70px;}
.modal-content h4
{color:#080b09;
  text-align: center;}
.modal-content button.close
{color:#080b09;}
.modal-header
{border-bottom:none;  }

.modal-footer
{
  padding:0 15px;
  border-top:none;
}