<div>
    <h3>ROLE CRUD</h3>

    <div class="form-group">
        <label for="">Role name</label>
        <input type="text" ng-model="roleName" class="form-control" placeholder="Role name" required>  <br/>
        <button type="submit" class="btn btn-pop" ng-click="register()">Create</button>
    </div>

    <div class="error_block">
        <p>ERROR list:</p>
        <ul ng-repeat="error in errors">
            <li class="validationError">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped text-center">
            <tr>
                <td>Name</td>
                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="role in roles">
                <td><input type="text" name="name" ng-model="role.name" required></td>
                <td>
                    <input type="button" value="Update" class="btn btn-pop" ng-click="updateRow(role.id)"/>
                </td>
                <td>
                    <input type="button" value="Remove" class="btn btn-pop" ng-click="tryToRemoveRow(role.id)"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
            <script>
                $(".btn-pop").click(function(){
                    setTimeout(function (){

                        var errors = document.querySelectorAll(".error_block ul");
                        if(errors.length == 0)
                            $('.popup').fadeIn(600);
                        else{
                            $('.blackout').fadeIn(600);
                            $('.error_block').fadeIn(600);
                        }
                    },1000);
                });
                $(".blackout .close").click(function(){
                    $('.blackout').fadeOut(600);
                    $('.popup').fadeOut(600);
                    $('.error_block').fadeOut(600);
                });
            </script>
</div>


