<div class="login_block">
    <form>
        <label for="">Login</label>
        <div class="error_block">
            <ul ng-repeat="error in errors">
                <li class="validationError">
                    {{error}}
                </li>
            </ul>
        </div>
        <input class="form-control" type="text" ng-model="login" placeholder="login" required>
        <input class="form-control" type="password" ng-model="password" placeholder="password" required>
        <button type="submit" class="btn btn-primary btn-pop" ng-click="doLogin()">Login</button>
    </form>
    <script>
        $(".btn-pop").click(function(){
            setTimeout(function (){
                var errors = document.querySelectorAll(".error_block ul");
                if(errors.length != 0) {
                    $('.error_block').fadeIn(600);
                    $('.blackout').fadeIn(600);
                }
            },1000);
        });
        $(".blackout .close").click(function(){
            $('.blackout').fadeOut(600);
            $('.error_block').fadeOut(600);
        });
    </script>
</div>