<table class="table table-bordered table-striped">
    <tr>
        <td>Id</td>
        <td>Type</td>
        <td>Coefficient</td>
        <td>Places amount</td>
        <td>Actions</td>
    </tr>
    <tr ng-repeat="trainType in trainTypes">
        <td>{{trainType.id}}</td>
        <td><input type="text" name="name" ng-model="trainType.name" required></td>
        <td><input type="number" name="coefficient" step="0.01" ng-model="trainType.coefficient" required></td>
        <td><input type="number" name="placesAmount" ng-model="trainType.placesAmount" required></td>
        <td>
            <input type="button" value="Update" class="btn btn-primary" ng-click="updateRow(trainType.id)"/>
        </td>
        <td>
            <input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(trainType.id)"/>
        </td>
    </tr>
</table>