<div>
    <label for="">Registration</label>
    <ul ng-repeat="error in errors">
        <li class="validationError">
            {{error}}
        </li>
    </ul>
    <label for="">Login</label>
    <input type="text" ng-model="login" placeholder="Login">  <br/><br/>
    <label for="">Password</label>
    <input type="password" ng-model="password" placeholder="Password">  <br/><br/>
    <label for="">Repeat password</label>
    <input type="password" ng-model="repeatPassword" placeholder="Password">  <br/><br/>
    <label for="">Name</label>
    <input type="text" ng-model="name" placeholder="Name"> <br/><br/>
    <label for="">Surname</label>
    <input type="text" ng-model="surname" placeholder="Surname"> <br/><br/>
    <label for="">Email</label>
    <input type="text" ng-model="email" placeholder="Email"> <br/><br/>
    <button ng-click="register()">Register</button>
</div>