<div>
    <label for="">Registration</label>
    <ul ng-repeat="error in errors">
        <li class="validationError">
            {{error}}
        </li>
    </ul>
    <input type="text" ng-model="login" placeholder="login">
    <input type="text" ng-model="name" placeholder="name">
    <input type="text" ng-model="surname" placeholder="surname">
    <input type="text" ng-model="email" placeholder="email">
    <input type="password" ng-model="password" placeholder="password">
    <input type="password" ng-model="repeatPassword" placeholder="password">
    <button ng-click="register()">Register</button>
</div>